<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CodeBlog</title>
	<link rel="stylesheet" type="text/css" href="static/css/estilos.css">
</head>
<body>

	<div id="navegacao">
		<div id="area">
		<h1 id="logo"><span class="verde">Code</span>Blog</h1>
		<div id="menu">
			<a href="index.html">Home</a>
			<a href="programing.html">Programação</a>
			<a href="projects.html">Projetos</a>
			<a href="about.html">Sobre</a>
			<a href="contato">Contato</a>
		

		</div>
		</div>
	</div>

	<div id="area-principal">
		
		<div id="postagem">
			<h2><span class="verde">Primeira postagem</span></h2>
			<span class="data-postagem">Postado em 27/06/2021</span>
			<img class="img-postagem" src="img/programacao.png">
			<p>Esta será minha primeira publicação, apenas iniciando meu DevBlog com o intuito de postar e compartilhar minha jornada em linguagens que estou aprendendo, como: Java, HTML, CSS, Python, JavaScrip e etc.</p>
			

			<span class="postado">Postado por Lucas Yamazaki</span>
		</div>

		<div id="postagem">
			<h2><span class="verde">Primeira postagem</span></h2>
			<span class="data-postagem">Postado em 28/06/2021</span>
			<img class="img-postagem" src="img/programacao.png">
			<p>Esta será minha primeira publicação, apenas iniciando meu DevBlog com o intuito de postar e compartilhar minha jornada em linguagens que estou aprendendo, como: Java, HTML, CSS, Python, JavaScrip e etc.</p>
			

			<span class="postado">Postado por Lucas Yamazaki</span>
		</div>

	</div>

</body>
</html>